:root {
  --color-very-dark-blue: #070439;
  --color-desaturated-blue: #585989;
  --color-bright-blue: #3065f8;
  --color-moderate-cyan: #3c9f8f;
  --color-light-grayish-blue: #f6f6fe;
  --color-light-gray: #bfbfbf;
  --color-dark-gray: #413c3c;
}

html {
  font-size: 62.5%;
  margin: 0;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", "Raleway", sans-serif;
  margin: 0;
}

h1 {
  font-family: "Raleway";
  font-size: 3.3rem;
  margin: 0;
  margin-bottom: 1.5rem;
}

h2 {
  font-family: "Raleway";
  font-size: 2.7rem;
  margin: 0;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1rem;
  font-weight: 800;
  margin: 0;
  letter-spacing: 0.05rem;
}

p {
  margin: 0;
}

.hero-left__paragraph {
  font-size: 1.48rem;
  font-weight: 400;
}

.first-section__paragraph {
  font-size: 1.3rem;
}
.first-section .testimonial-box__text {
  font-size: 1.2rem;
  font-weight: 400;
}
.first-section .testimonial-box .user__name--title {
  font-size: 0.8rem;
}

.second-section__paragraph {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 5rem 5rem 0 5rem;
}
.nav__logo .logo {
  width: 15rem;
}
.nav__navigation--items {
  list-style: none;
  font-size: 1.5rem;
}
.nav__navigation--items a {
  text-decoration: none;
}
.nav__navigation--items a li {
  display: inline-block;
  margin-left: 3rem;
}

.hero-left {
  width: 55rem;
}
.hero-left__paragraph {
  width: 90%;
  margin-bottom: 1.2rem;
}
.hero-left__form-text, .hero-left__form-submit {
  vertical-align: middle;
  border-radius: 0.5rem;
  outline: none;
  font-family: inherit;
  font-weight: 500;
}
.hero-left__form-text {
  border: 1px solid var(--color-light-gray);
  width: 50%;
  margin-right: 1rem;
  padding: 1rem 0.5rem 0.5rem 1.5rem;
}
.hero-left__form ::-webkit-input-placeholder {
  color: var(--color-light-gray);
}
.hero-left__form-submit {
  border: 1px solid var(--color-bright-blue);
  padding: 0.75rem 4rem 0.75rem;
  color: white;
  background-color: var(--color-bright-blue);
}

.hero-right {
  padding: 2.5rem 0;
  justify-self: flex-end;
}
.hero-right__illustration {
  width: 50rem;
}

.first-section__left {
  width: 55rem;
}
.first-section__left .testimonial-box {
  background-color: white;
  padding: 2rem;
  width: 30rem;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.1rem 0.9rem 0.1rem var(--color-light-gray);
}
.first-section__left .testimonial-box__text {
  margin-bottom: 1rem;
  margin-top: 0.7rem;
}
.first-section__left .testimonial-box .user {
  display: flex;
  align-items: center;
}
.first-section__left .testimonial-box .user img {
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 1rem;
}
.first-section__reference {
  display: inline-block;
  position: relative;
  margin-bottom: 3rem;
  cursor: pointer;
}
.first-section__reference a {
  display: flex;
  position: relative;
  align-items: center;
  width: 13.7rem;
  color: var(--color-moderate-cyan);
  font-size: 1.3rem;
  padding: 0;
  text-decoration: none;
}
.first-section__reference a img {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  right: 0;
  bottom: 0;
}
.first-section__reference::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -0.5rem;
  width: 100%;
  height: 1px;
  background-color: var(--color-moderate-cyan);
}
.first-section__paragraph {
  width: 80%;
  margin-bottom: 1rem;
}
.first-section__paragraph:not(:last-of-type) {
  margin-top: 3rem;
}
.first-section__right {
  justify-self: flex-end;
  padding-top: 2rem;
}
.first-section__right--illustration {
  width: 45rem;
}

.second-section__paragraph {
  width: 50rem;
}
.second-section__right {
  justify-self: flex-end;
  width: 45rem;
}
.second-section__right .input {
  display: block;
}
.second-section__right--input {
  width: 90%;
  padding: 1rem 1.5rem;
  border-radius: 0.3rem;
  border: none;
  outline: none;
  margin-bottom: 1.3rem;
  box-shadow: 0.07rem 0.07rem 0.4rem 0.1rem var(--color-dark-gray);
}
.second-section__right--input::-webkit-input-placeholder {
  font-family: "Open Sans";
  color: var(--color-light-gray);
  font-size: 1.08rem;
}
.second-section__right--btn {
  font-family: "Open Sans";
  font-weight: 500;
  color: var(--color-light-grayish-blue);
  padding: 1rem 2.5rem;
  background-color: var(--color-bright-blue);
  border-radius: 0.3rem;
  border: none;
  box-shadow: 0.07rem 0.07rem 0.4rem 0.1rem var(--color-dark-gray);
}

footer .footer__logo {
  margin-bottom: 2rem;
}
footer .footer-content {
  font-size: 1.3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 5rem;
  color: var(--color-light-grayish-blue);
}
footer .footer-content .info-column__phone {
  display: flex;
  align-items: center;
}
footer .footer-content .info-column__phone:not(:last-of-type) {
  margin-bottom: 1.5rem;
}
footer .footer-content .info-column__phone img {
  width: 1.5rem;
  margin-right: 1.5rem;
  margin-left: 0.5rem;
}
footer .footer-content .features-column__item {
  margin: 0;
}
footer .footer-content .features-column__item a {
  color: var(--color-light-grayish-blue);
  list-style-type: none;
  text-decoration: none;
}
footer .footer-content .features-column__item a li {
  margin-bottom: 1.5rem;
}
footer .footer-content .social-media-column .icon {
  margin-right: 1rem;
  width: 3rem;
}
footer .footer-content .social-media-column .icon use {
  vertical-align: top;
}

.hero-box,
.first-section,
.second-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-width: 130rem;
  padding: 0 5rem;
}

.hero-box {
  min-height: 42rem;
  margin-top: 4rem;
  align-items: center;
}

.first-section {
  background-image: url(/images/bg-curve-desktop.svg);
  background-size: cover;
  background-position: top;
  padding-top: 12rem;
  min-height: 58rem;
}

.second-section {
  color: var(--color-light-grayish-blue);
  background-color: var(--color-desaturated-blue);
  padding-top: 7rem;
  padding-bottom: 6rem;
}

footer {
  color: var(--color-light-grayish-blue);
  background-color: var(--color-very-dark-blue);
  padding: 8rem 5rem;
}

/*# sourceMappingURL=style.css.map */
