.hero-box,
.first-section,
.second-section {
  display: grid;

  grid-template-columns: 50% 50%;
  width: 100vw;
  padding: 0 5rem;

  @media only screen and (max-width: $breakpoint-phone) {
    display: block;
  }

  @media only screen and (max-width: $breakpoint-miniphone) {
    padding: 0 4rem;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 5rem 0 5rem;
  width: 100vw;

  @media only screen and (max-width: $breakpoint-miniphone) {
    padding: 4rem 4rem 0 4rem;
  }
}

.hero-box {
  min-height: 42rem;
  margin-top: 4rem;
  align-items: center;
  padding-bottom: 5rem;
}

.first-section {
  background-image: url(/images/bg-curve-desktop.svg);

  background-size: cover;
  background-position: top;
  padding-top: 12rem;
  padding-bottom: 8rem;

  @media only screen and (max-width: $breakpoint-phone) {
    background-image: url(/images/bg-curve-mobile.svg);
    padding-top: 8rem;
    margin-bottom: 2rem;
  }
}

.second-section {
  color: var(--color-light-grayish-blue);
  background-color: var(--color-desaturated-blue);
  padding-top: 7rem;
  padding-bottom: 6rem;

  @media only screen and (max-width: $breakpoint-phone) {
    text-align: center;
    padding-bottom: 9rem;
  }
}

footer {
  color: var(--color-light-grayish-blue);
  background-color: var(--color-very-dark-blue);
  padding: 8rem 5rem;
  width: 100vw;
}
